<h3>{{ posts|first.topic.name }}</h3>

<div class="display-table posts-list-info">
    <div class="row hidden-xs hidden-sm forum-row">
        <div class="col-xs-12 col-sm-12 col-md-2 forum-col">
            {{ 'header.author'|trans }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 forum-col">
            {{ 'header.topic'|trans }}:&nbsp;{{ posts|first.topic.name }}
        </div>
    </div>
</div>

<div class="display-table posts-list">
    {% for post in posts %}
        <div class="row forum-row">
            <div class="col-xs-12 col-sm-12 col-md-2 forum-col">
                <div class="author small text-center">
                    {% if post.author.avatar %}
                        <div class="author-avatar">
                            <img src="{{ post.author.avatar }}"/>
                        </div>
                    {% endif %}
                    {{ post.author.username }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 forum-col">
                <div class="row post-header">
                    <div class="col-xs-12">
                        {{ post.createdAt|date('Y-m-d H:i:s') }}
                    </div>
                </div>
                <div class="row post-content">
                    <div class="col-xs-12">
                        <div class="bb2html">
                            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Large button group">
                                <a href="{{ path('topic_show_quotation', {'slug': topic.slug, 'quotationPostId': post.id, 'page': page}) }}" rel="nofollow" class="btn btn-default">{{ 'action.quote'|trans }}</a>
                                {% if is_granted('ROLE_FORUM_ADMIN') %}
                                    <a href="{{ path('post_edit', {'id': post.id, 'page': page}) }}" rel="nofollow" class="btn btn-default">{{ 'action.edit'|trans }}</a>
                                    <a href="{{ path('post_remove', {'id': post.id}) }}" rel="nofollow" class="btn btn-default">{{ 'action.remove'|trans }}</a>
                                {% endif %}
                            </div>
                            {{ post.description|bb2html|raw }}
                        </div>        
                    </div>        
                </div>        
            </div>
        </div>
    {% endfor %}
</div>