<div class="display-table">
    {% for topicData in topics %}
        {% set topic = topicData[0] %}
        <div class="row forum-row">
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                {% set page = (topicData.postsCount/10)|round(0,'ceil') %}
                {% if page > 1 %}
                    <a href="{{ path('admin_topic_show', {'slug': topic.slug, 'page': page }) }}">{{ topic.name }}</a>
                {% else %}
                    <a href="{{ path('admin_topic_show', {'slug': topic.slug}) }}">{{ topic.name }}</a>
                {% endif %}
                <div class="small">
                    <div>{{ (topic.description) ? topic.description }}</div>
                    <div>{{ 'created.by'|trans }}&nbsp;{{ topic.author.username }}</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                <div>
                    {% transchoice topicData.postsCount %}
                        {0} there.are.no.posts|{1} there.is.one.post|]1,Inf[ there.are.%count%.posts|[4,Inf[ there.are.%count%.posts
                    {% endtranschoice %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                {% if lastPosts[topic.id] is defined %}
                    {% trans with {'%author%': lastPosts[topic.id].author.username, '%date%': lastPosts[topic.id].createdAt|date('Y-m-d H:i:s')} %}
                        last.post.send.by.%author%.on.%date%
                    {% endtrans %}
                {% else %}
                    {{ 'no.posts'|trans }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>