<div class="display-table">
    {% for forumData in forums %}
        {% set forum = forumData[0] %}
        <div class="row forum-row">
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                <a href="{{ path('admin_forum_index', {'slug': forum.slug }) }}">{{ forum.name }}</a>
                <div class="small">
                    {{ forum.description }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                <div>
                    {{ 'topics.count'|transchoice(forumData.topicsCount) }}
                </div>
                <div>
                    {{ 'posts.count'|transchoice(forumData.postsCount) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 forum-col">
                {% if lastPosts[forum.id] is defined %}
                    {% trans with {'%author%': lastPosts[forum.id].author.username, '%date%': lastPosts[forum.id].createdAt|date('Y-m-d H:i:s')} %}
                        last.post.send.by.%author%.on.%date%
                    {% endtrans %}
                {% else %}
                    {{ 'no.posts'|trans }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
