{% extends 'ValantirForumBundle::base.html.twig' %}

{% block body %}
    {% if forums %}
        {{ include('ValantirForumBundle:Forum/Admin:forums-list.html.twig', { 'forums': forums }) }}
        <div class="navigation">
            {{ knp_pagination_render(forums) }}
        </div>
    {% endif %}
    {{ render(controller('ValantirForumBundle:AdminTopic:index', { 'forumId': forumId })) }}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            {% set isValidForumForm = forumForm.vars.valid %}
            {% set isValidTopicForm = (topicForm) ? topicForm.vars.valid : true %}
            <li role="presentation" class="{{ ((isValidForumForm and isValidTopicForm) or (not isValidForumForm)) ? 'active' }}">
                <a href="#add-forum" aria-controls="add-forum" role="tab" data-toggle="tab">{{ 'add.forum'|trans }}</a>
            </li>
            {% if topicForm %}
                <li role="presentation" class="{{ not isValidTopicForm ? 'active' }}">
                    <a href="#add-topic" aria-controls="add-topic" role="tab" data-toggle="tab">{{ 'add.topic'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {{ ((isValidForumForm and isValidTopicForm) or (not isValidForumForm)) ? 'active' : 'fade' }}" id="add-forum">
                {{ include('ValantirForumBundle:Forum/Admin:forum-form.html.twig', { 'form': forumForm }) }}
            </div>
            {% if topicForm %}
                <div role="tabpanel" class="tab-pane {{ not isValidTopicForm ? 'active' : 'fade' }}" id="add-topic">
                    {{ include('ValantirForumBundle:Topic/Admin:topic-form.html.twig', { 'form': topicForm }) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}