{% extends 'ValantirForumBundle::base.html.twig' %}

{% block title %}
    {{ topic.name }}
{% endblock title %}

{% block metadescription %}
    {{ topic.name }}
{% endblock metadescription %}

{% block body %}
    {% if posts %}
        {% if posts is not empty %}
            {{ include('ValantirForumBundle:Post:posts-list.html.twig', { 'posts': posts }) }}
        {% endif %}
        <div class="navigation">
            {{ knp_pagination_render(posts, 'ValantirForumBundle::twitter_bootstrap_pagination.html.twig') }}
        </div>
    {% endif %}
    {{ include('ValantirForumBundle:Post:post-form.html.twig', { 'form': postForm }) }}
{% endblock %}